@page "/"

@using System.Timers

<style>
    .container{
        width: 400px;
    }

    button{
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>
<!--Display the highest score-->
<div class="row">
    <h2>Highest Score: @highScore</h2>
</div>
<!--Display the real time and actual time-->
<div class="row">
    <h2>Timer: @timeDisplay</h2>
</div>
<div class="row">
    <h2>Actual Time: @realTime</h2>
</div>
<div class="row">
    <p>Correct Match -1 sec, Wrong Match + 1 sec</p>
</div>

<!--Main part of the matching game-->
<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescription))" type="button" class="btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>

    <!--Display how many matches found and left, and current score-->
    <div class="row">
        <h2>Matches You Found: @matchesFound</h2>
    </div>

    <div class="row">
        <h2>Matches You Left: @matchesLeft</h2>
    </div>

    <div class="row">
        <h2>Score: @score </h2>
    </div>

    <!--Radio button for choosing lives-->
    <div class="row mt-2">
        <div class="col-sm-6">
            How many lives do you need?
        </div>
        <div class="col-sm-6 btn-group" role="group">
            @for (int liveNumber = 1; liveNumber <= 4; liveNumber++)
            {
                string valueToDisplay = $" {liveNumber}";
                int LiveNumber = liveNumber;
                <button type="button" class="btn btn-secondary" @onclick="() => LiveClick(valueToDisplay, LiveNumber)"> @liveNumber

                </button>
            }
        </div>
    </div>
    <!--Display how many lives left-->
    <div class="row mt-1">
        <h2>Lives: <strong>@lives</strong> </h2>
    </div>
</div>

@code {
    List<string> animalEmoji = new List<string>()
    {
        "🐶","🐶",
        "🐱","🐱",
        "🐹","🐹",
        "🦊","🦊",
        "🐼","🐼",
        "🐮","🐮",
        "🐷","🐷",
        "🦁","🦁",
    };

    List<string> shuffledAnimals = new List<string>();

    public string DisplayValue = "";


    //Matches check
    int matchesFound = 0;
    int matchesLeft = 8;

    //Record the player's score, correct match will add 1 point, wrong match will devide 1 point
    int score;
    int currentScore;
    int highScore;
    int cScore = 0;

    //Set up lives for player
    int lives;
    int livesNumber;

    //Timer
    Timer timer;
    int tenthsOfSecondElapsed = 0;
    string timeDisplay;

    //set var for actual time
    string realTime;
    float count;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        lives = 2;
        SetUpGame();

    }

    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji.OrderBy(item => random.Next()).ToList();

        //Reset the data
        matchesFound = 0;
        matchesLeft = 8;

        score = 0; //score can be negative

        lives = 2;

        count = 0; //count the real time

        tenthsOfSecondElapsed = 0; //set up timer to 0 at the beginning
    }

    string lastAnimalsFound = string.Empty;
    string lastDescription = string.Empty;

    private void ButtonClick(string animal, string animalDescription)
    {
        //if player click the same animal twice, it should not be the correct match
        if (lastAnimalsFound == string.Empty)
        {
            lastAnimalsFound = animal;
            lastDescription = animalDescription;

            timer.Start();
            // if player click the right match, and it is not the same animal, both animals will disappear
        } else if ((lastAnimalsFound == animal) && (animalDescription != lastDescription))
        {
            lastAnimalsFound = string.Empty;

            shuffledAnimals = shuffledAnimals.Select(a => a.Replace(animal, string.Empty)).ToList();

            score++; //add 1 point

            matchesFound++; // record the right matches
            matchesLeft--; // record the left matches

            count--;

            //if player found all matches, win the game and reset game when end
            if (matchesFound == 8)
            {
                timer.Stop();
                timeDisplay += " You WIN! - Click Animals to Play Again";
                //Keep the high score when win
                currentScore = score;
                matchScore(currentScore, highScore);

                SetUpGame();
            }
        }
        // if player matches worng, it will devide 1 point and loose 1 health
        else
        {
            score--;

            lives--;
            livesNumber = lives;

            count++;

            lastAnimalsFound = string.Empty;
            //if live < 0, the game will end. Not finished yet, still need to work with radio button
        } if (lives < 0)
        {
            timer.Stop();
            timeDisplay += " You LOSE! - Click Animals to Play Again";
            //Keep the high score when lose
            currentScore = score;
            matchScore(currentScore, highScore);

            SetUpGame();
        }
    }

    //Timer function
    private void Timer_Tick(object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondElapsed ++;
            timeDisplay = (tenthsOfSecondElapsed / 10f).ToString("0.0s");
            StateHasChanged();
            //record the actual time for user
            realTime = (tenthsOfSecondElapsed / 10f + count).ToString("0.0s");
        });
    }

    //Display the radio button
    void LiveClick(string displayValue, int LNumber)
    {
        DisplayValue = displayValue;
        lives = LNumber;//Refresh the lives after selection
    }

    //Compare the highscore and current score, refresh the high score
    public void matchScore(int currentScore, int cScore)
    {
        //if currentScore < highest score, keep the highest score
        if (currentScore < cScore)
        {
            highScore = cScore;
        }//else refersh the highest score to be the current if current score > highest score
        else {
            highScore = currentScore;
        }
    }
}